.wrapper-mobile {
  display: none;
}

.headers {
  width: 100%;
  height: 96px;
}

.wrapper {
  font-family: "Lexend Medium", Roboto, Arial;
  display: flex;
  width: 100%;
  height: 96px;
  background-color: #fff;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  position: fixed;
  z-index: 5;

  .nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      display: flex;
      list-style: none;
    }

    .logoheart .icon {
      padding-right: 20px;
    }

    .menu li {
      font-family: "Lexend", sans-serif;
      padding: 20px;

      .item {
        text-decoration: none;
        color: #000;
      }

    }

    .authlogin {
      display: flex;
      align-items: center;
    }

    .authlogin .icon {
      font-size: 25px;
    }

    .authlogin,
    .login,
    .register,
    .icon,
    .post {
      padding-right: 30px;
      font-weight: 600;
    }

    .authlogin .login:after {
      content: '';
      margin-left: 30px;
      border: solid 0.02px #ccc;
    }

    .authlogin .login:after {
      width: 100%;
    }

    .authlogin .post {
      background-color: transparent;
      padding: 13px 30px;
      border: 1.5px solid #ccc;
      border-radius: 10px;
    }
  }

  .logo {
    padding-left: 30px;
    width: 200px;
    height: 48px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media screen and (max-width:1140px) {
  .wrapper {
    display: none;
  }

  .headers {
    height: 64px;
  }

  .overlayout {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 8;
    transition: all 0.6s ease-in-out;
  }

  .wrapper-mobile {
    width: 100%;
    height: 64px;
    background-color: #fff;
    position: fixed;
    display: block;
    font-family: "Lexend Medium", Roboto, Arial;
    // border: 1px solid #000;
    z-index: 8;

    .wrapper-logo {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        width: 120px;
        height: 36px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .heart {
        position: absolute;
        right: 110px;
        width: 27px;
        height: 27px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .count {
          font-family: "Roboto Bold", Roboto, Arial !important;
          font-size: 10px;
          line-height: 12px;
          font-weight: normal !important;
          font-size: 10px !important;
          background: #E03C31;
          border-radius: 4px;
          display: inline-block;
          color: #fff;
          top: -6px;
          left: 20px;
          position: absolute;
          min-width: 10px;
          text-align: center;
          border: 2px solid #fff;
          padding-left: 1px;
          padding-right: 1px;
          min-width: 14px;
          min-height: 16px;
          line-height: 16px;
          box-sizing: content-box;
          -moz-box-sizing: content-box;
          -webkit-box-sizing: content-box;
        }
      }

      .menubars {
        position: absolute;
        right: 45px;
        width: 25px;
        height: 25px;

        img {
          cursor: pointer;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.menu-mobile {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  width: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 8;
  right: 0px;
  transition: all 0.8s ease;

  .user {
    width: 100%;
    // height: 299px;
    padding: 16px;
    background-color: transparent;

    .information {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 16px;

    }

    .user-info {
      display: flex;
      align-items: center;
      width: calc(100% - 48px);
      height: 64px;
      background-color: transparent;
      .user-logo {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: transparent;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
          border-radius: 50%;

        }
      }

      .user-name {
        margin-left: 10px;
        font-weight: 600;
      }
    }

    .notification {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      cursor: pointer;
      background-color: transparent;

      img {
        width: 32px;
        height: 32px;
      }
    }

    .user-post {
      width: 100%;
      height: 48px;
      background-color: #E03C31;
      padding: 13px 15px;
      border-radius: 8px;
      button {
        width: 100%;
        height: 100%;
        color: #fff;
        background: #E03C31;
        border: solid 1px #E03C31;
        
      }
    }
    .package{
      margin-top: 15px;
      width: 100%;
      height: 140px;
      background-color: transparent;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.active {
  visibility: visible;
  width: 312px;
  opacity: 1;
  transform: translateX(0);
  animation: showmenu 0.8s ease-in-out;

}

@keyframes showmenu {
  0% {

    transform: translateX(312px);
  }

  100% {
    transform: translateX(0);
  }
}