.wrapper {
  width: 600px;
  height: 550px;
  background-color: rgb(249, 249, 249);
  position: relative;
  display: flex;
  border-radius: 10px;
}
.wrapper-layout {
  width: 100%;
  display: flex;
  justify-content: center;
}
.layout-conent {
  width: 100%;
  display: flex;
  box-shadow: rgba(44, 44, 44, 0.08) 0px 4px 16px;
  border-radius: 8px;
}
// phai
.layout-right {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(255, 236, 235);
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  width: 40%;
  overflow-x: hidden;
}
.layout-img-size {
  margin-left: 32px;
  width: 160px;
}

.layout-img-duoi {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
}
.img-duoix2 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 24px;
}
.img-duoix2 img {
  vertical-align: middle;
  border-style: none;
}
.hinh_nen {
  position: relative;
  width: 100%;
  margin-top: -75px;
  margin-bottom: 12px;
}
.motalogin {
  font-family: Lexend;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: rgb(44, 44, 44);
}
// trai
.layout-left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 60%;
}
