.wrapper {
    position: relative;
    width: 100%;
    height: 419px;
    background-color: transparent;

    .banner {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

}

.container-news {
    width: 100%;
    height: 525px;
    background-color: transparent;

    .container-news-menu {
        position: relative;
        display: flex;
        justify-content: space-between;

        .container-news-item {
            list-style: none;
            display: flex;

            li {
                position: relative;
                cursor: pointer;
                font-weight: 500;
                font-size: 23px;
                color: #ccc;
                padding: 0 15px;

                &:hover {
                    color: #000;
                }

                .active::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: red;
                    z-index: 1;
                }

                .active {
                    color: #000;
                }
            }
        }

        .container-news-more {
            cursor: pointer;
            color: red;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #ccc;
        }
    }

    .container-info-img {
        width: 500px;
        height: 257px;
        margin-top: 24px;

        img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
        }
    }

    .container-info-text {
        font-size: 23px;
        margin-top: 16px;
        font-weight: 500;
        color: #000;
    }

    .container-info-time {
        font-size: 14px;
        color: #999;
    }

    .container-info-menu {
        margin-top: 24px;
        width: 100%;
        height: 100%;
        float: left;
        background-color: transparent;

        .container-info-item {
            list-style: none;
            font-size: 16px;
            text-align: left;
            vertical-align: middle;

            li {
                position: relative;
                padding: 0 0 14px;
                line-height: 26px;
                padding-bottom: 14px;
                padding-top: 10px;

                a {
                    text-decoration: none;
                    color: #000;

                    &:hover {
                        color: #999;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #ccc;
                }
            }
        }
    }
}

.container-ads {
    width: 250px;
    height: 525px;
    background-color: transparent;

    .ads-img {
        width: 100%;
        height: 250px;

        img {
            width: 100%;
            height: 80%;
            background-position: center;
            background-size: cover;
        }
    }
}


//container for you

.container-foryou-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    .container-foryou-item {
        font-size: 24px;
        letter-spacing: -0.2px;
        line-height: 32px;
        margin: 0 0 24px;
    }

    .container-foryou-list {
        font-size: 14px;
        line-height: 20px;

        a {
            text-decoration: none;
            color: #000;
            &:hover{
                color: #999;
            }
        }
    }
}

.container-foryou-card{
    width: 96%;
    height: 318px;
    background-color: #fff;
    box-shadow: 0px 4px 6px 0px rgba(44, 44, 44, 0.04);
}