.abc {
    // height: 1000px;
    background-color: transparent;



    .box-center {
        width: 100%;
        // height: 500px;
        // background-color: red;

        .title {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
        }

        .box-caculator {
            width: 100%;
            // height: 200px;
            border-radius: 4px;
            border: 1px solid #f2f2f2;
            padding: 16px;

            .caculator-title {
                margin-top: 20px;
                width: 100%;
                font-size: 14px;
                text-align: center;
            }

            .caculator-ult-money {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                font-weight: 500;

                .first-radio {
                    margin-left: 15px
                }
            }

            .fl-infp,
            .bank-info,
            .percent-info {
                margin: 12px 0;
            }

            .percent-info {
                display: flex;
                width: 100%;
                height: 30px;
                background-color: transparent;

                .detail {
                    width: 130px;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: transparent;
                    margin-right: 16px;
                }

                .select-bank {
                    width: 100%;
                    height: 100%;
                    color: red;
                    font-weight: 500;
                }
            }

            .fl-info {
                display: flex;
                width: 100%;
                height: 30px;
                background-color: transparent;

                .detail {
                    width: 130px;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: transparent;
                    margin-right: 16px;
                }

                .select-bank {
                    width: 100%;
                    height: 100%;

                    select {
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                        border: 1px solid #f2f2f2;
                    }
                }
            }


            .bank-info {
                display: flex;
                width: 100%;
                height: 30px;
                background-color: transparent;

                .detail {
                    width: 130px;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: transparent;
                    margin-right: 16px;
                }

                .select-bank {
                    width: 100%;
                    height: 100%;

                    select {
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                        border: 1px solid #f2f2f2;
                    }
                }
            }
        }

        .box-seconds-caculator {
            margin: 12px 0;
            width: 100%;
            // height: 200px;
            border-radius: 4px;
            border: 1px solid #f2f2f2;
            padding: 16px;
            margin-bottom: 20px;

            .seconds-title {
                text-align: center;
                width: 100%;
                font-size: 14px;
            }

            .ultils-row {
                display: flex;
                width: 100%;
                height: 30px;
                background-color: transparent;
                margin: 12px 0;

                label {
                    width: 130px;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: transparent;
                    margin-right: 16px;
                }

                .input-row {
                    display: flex;
                    width: 100%;
                    height: 100%;

                    input {
                        padding: 0 8px;
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                        border: 1px solid #f2f2f2;
                        border: none;

                        &:focus {
                            outline: none;
                        }
                    }

                    .input-one {
                        width: 60%;
                        margin-right: 10px;
                    }

                    .input-two {
                        width: 34%;
                        margin-left: 10px;
                        padding: 0 8px;
                        border-radius: 4px;
                        border: 1px solid #f2f2f2;
                        border: none;
                    }

                    .select-button {
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                        border: 1px solid #f2f2f2;
                    }
                }
            }
        }
    }

    .box-right {
        position: fixed;
        width: 240px;

        // height: 500px;
        // background-color: red;
        .box-tools {
            width: 100%;
            // height: 220px;
            // background-color: beige;
            list-style: none;

            .tools-title {
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                background-color: #505050;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            li {
                margin: 4px 0;
                font-size: 14px;
                background-color: #f2f2f2;
                padding: 8px 12px;
            }
        }
    }

    .box-left {
        width: 100%;
        // height: 500px;
        background-color: transparent;

        .box-news {
            width: 100%;
            // height: 400px;
            // background-color: antiquewhite;
            border: 1px solid #f2f2f2;
            margin-bottom: 20px;
            .news-title {
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                background-color: #505050;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            .list-news {
                padding: 8px;
                width: 100%;
                // height: 100%;
                background-color: transparent;

                .box-wraper {
                    margin: 20px 0;
                    display: flex;
                    width: 100%;
                    height: 60px;
                    background-color: transparent;
                    align-items: center;

                    .news-img {
                        width: 90px;
                        height: 70px;
                        margin-right: 8px;

                        img {
                            border-radius: 4px;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .news-context {
                        width: calc(100% - 90px);
                        height: 60px;
                        font-size: 13px;
                        -webkit-box-orient: vertical;
                        overflow: hidden !important;
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }
    }
}