.wrapper {
  margin: auto;
  width: 82%;
  height: 2000px;
  background-color: red;
  display: flex;
}
.ads {
  width: 11%;
  height: 2000px;
  background-color: aqua;
}
.wrapper-content {
  padding: 13px 17px;
  width: 78%;
  height: 2000px;
  background-color: azure;
}
.wrapper-search {
  width: 100%;
  padding-bottom: 13px;
  border-bottom: 1.5px solid #ccc;
}
