// container phải
.title {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #2C2C2C;
    display: block;
}

.description-count {
    font-size: 14px;
    color: #2C2C2C;
}

.container-main-content-left {
    width: 100%;
    // height: 500px;
    background-color: transparent;



    .container-card-info {
        width: 100%;
        // height: 433px;
        background-color: #fff;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        margin-bottom: 20px;

        .main-card {
            position: relative;
            width: 100%;
            height: 233px;
            background-color: transparent;

            .premium-diamond {
                position: absolute;
                top: 4px;
                left: -4px;
                z-index: 2;
            }

            .parent-flex {
                display: flex;
                width: 100%;
                height: 100%;

                .parent-image {
                    width: calc(563 / 848* 100%);
                    height: 100%;
                    background-color: transparent;

                    img {
                        border-top-left-radius: 4px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .children-image {
                    width: calc(100% - 563 / 848 * 100% - 2px);
                    height: 116px;
                    float: right;
                    margin-left: 2px;
                    margin-bottom: 2px;
                    background-color: transparent;

                    .border-image {
                        border-top-right-radius: 4px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .children-flex {
                        margin-top: 2px;
                        display: flex;
                        width: 100%;
                        height: 100%;

                        .children-flex-image {
                            height: 100%;
                            width: 100%;
                            margin-left: 2px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }


        }

        .container-description {
            width: 100%;
            // height: 114px;
            padding: 14px;
            background-color: transparent;
            border-bottom: 1px solid #f2f2f2;

            .title-description {
                width: 100%;
                font-size: 16px;
                font-weight: 500;
            }

            .product-description-info {
                display: flex;
                align-items: center;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: transparent;

                .reddot {
                    color: #E03C31;
                    margin: 0 8px;
                }

                .product-price {
                    color: #E03C31;
                    font-weight: 500;
                }

                .product-arena {
                    color: #E03C31;
                    font-weight: 500;
                }

                .product-price-percent,
                .product-bed,
                .product-shower,
                .product-location {
                    font-family: "Roboto Regular", Roboto, Arial !important;
                    font-size: 13px;

                    .icon {
                        margin-left: 10px;
                    }
                }

            }

            .product-description {
                width: 100%;
                height: 40px;
                font-size: 14px;
                font-weight: normal !important;
                color: #505050;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden !important;
                -webkit-line-clamp: 2;
            }
        }

        .container-contact {
            width: 100%;
            padding: 14px;
            background-color: transparent;
            margin-bottom: 5px;

            .publish-contact {
                display: flex;
                width: 100%;
                height: 100%;

                .contact-flex {
                    width: 75%;
                    height: 100%;
                    display: flex;
                }

                .contact-avatar {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .user-info {
                    position: relative;
                    margin-left: 10px;
                    width: 73%;
                    height: 100%;
                    text-align: left;
                    font-size: 14px;

                    .time{
                        font-size: 14px;
                        color: #b5b5b5;
                    }
                }

                

                .contact-phone {
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: #fff;
                    background: #009BA1;
                    border: 1px solid #009BA1;
                    border-radius: 8px;
                    font-size: 14px;
                    padding: 4px 12px;
                    font-weight: 500;

                    @media screen and (max-width: 576px) {
                        text-align: center;
                        width: 45% !important;
                    }

                    @media screen and (max-width: 768px) {
                        text-align: center;
                        width: 30%;
                    }
                }
            }

        }
    }
}

// container trái
.container-main-content-right {
    width: 100%;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 10px;

    .content-title {
        font-weight: 500;
        margin-bottom: 10px;
    }

    .content-search-price {
        width: 100%;
        background-color: transparent;
        list-style: none;

        li {
            cursor: pointer;
            margin-bottom: 12px;
        }
    }
}