.input-address {
  position: relative;
  width: 100%;
  height: 40px;
  input {
    width: 100%;
    height: 100%;
    padding: 0 8px;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    outline: none;
  }
}

.suggestions-list {
  position: absolute;
  border: 1px solid #ccc;
  background-color: white;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
