.layoutOtp{
    height: 100%;
}
.wrapper-layout{
   height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    background-color: aqua;
}
form{
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.wrapper-icon{
    cursor: pointer;
    margin-bottom: 24px;
    color: rgb(153, 153, 153);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
}
.titleOtp{
    font-family: Lexend;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: rgb(44, 44, 44);
    margin: 0;
}

.titleDescription{
    margin-top: 8px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(44, 44, 44);
}
.title-email{
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(44, 44, 44);
}
.wrapper-otpinput{
    margin: 24px 0px 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    div{
        display: flex;
        align-items: center;
        gap: 16px;
        input{
            width: 40px;
            text-align: center;
            height: 48px;
            border: 1px solid rgb(204, 204, 204);
            background: rgb(255, 255, 255);
            border-radius: 4px;
            color: rgb(44, 44, 44);
            font-family: Roboto;
            font-weight: 500;
            font-size: 18px;
        }
    }

}
